@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --text-*: initial;
  --text-xs: 0.625rem;
  --text-sm: 0.75rem;
  --text-base: 1rem;
  --text-l: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 2.75rem;
  --text-6xl: 3.25rem;
  --text-7xl: 3.75rem;
  --text-8xl: 4.5rem;
  --text-9xl: 5.625rem;

  --font-work-sans: var(--font-work-sans);
  --font-kode-mono: var(--font-kode-mono);
  --font-manuale: var(--font-manuale);

  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility text-balance {
  text-wrap: balance;
}

/* Upload Form Styles */

@layer components {
  .upload-form label,
  .upload-form h1,
  .upload-form h2,
  .upload-form h3,
  .upload-form h4,
  .upload-form h5,
  .upload-form h6 {
    @apply font-kode-mono;
  }
}

@layer components {
  .upload-form input,
  .upload-form textarea {
    @apply font-kode-mono;
  }
}
